#menu-s .navbar-toggler {
  color: #000;
}
#footer1-q P {
  text-align: left;
}
#menu-s .navbar-toggler {
  color: #000;
}
#menu-s .navbar-toggler {
  color: #000;
}
#msg-box3-10 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-10 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-10 .lead {
  font-size: 25px;
}
#menu-s .navbar-toggler {
  color: #000;
}
#footer1-q P {
  text-align: left;
}
#menu-s .navbar-toggler {
  color: #000;
}
